.center-section .wrap-search-form{
	display: inline-block;
	border: 2px solid;
	position: relative;
	max-width: 522px;
	width: 100%;
}
.header.fill-color .center-section .wrap-search-form{
    border-color: #ffffff;
}
.center-section .wrap-search-form .wrap-list-cate{
    position: absolute;
    top: 0;
    right: 56px;
    width: 125px;
    height: 35px;
    border: none;
    outline: none;
    background: #f6f6f6;
}
.center-section .wrap-search-form .wrap-list-cate .list-cate li:hover{
    cursor: pointer;
}
.center-section .wrap-search-form .wrap-list-cate .list-cate li{
	display: inline-block;
	width: 100%;
	float: left;
	list-style: none;
	font-size: 13px;
	color: #666;
    padding: 3.5px 15px;
    padding-right: 5px;
}
.center-section .wrap-search-form .wrap-list-cate .list-cate li:not(.level-0){
    font-weight: 300;
    padding-left: 22px;
}
.center-section .wrap-search-form .wrap-list-cate .list-cate li.level-0{
    color: #000;
    background: #f0f2f5;
}
.center-section .wrap-search-form .wrap-list-cate .list-cate li.level-2{
    padding-left: 42px;
}
.center-section .wrap-search-form .wrap-list-cate .list-cate{
	padding: 0;
	margin: 0;
	border: 1px solid #dddddd;
	background: #ffffff;
	position: absolute;
    top: calc(100% + 2px);
    top: -webkit-calc(100% + 2px);
	top: -moz-calc(100% + 2px);
	right: 0;
	width: 228px;
	z-index: 10;
    max-height: 442px;
    overflow-y: auto;
    text-align: left;
    display: none;
    padding-bottom: 12px;
}
.center-section .wrap-search-form .wrap-list-cate .list-cate li.level-0{

}
.center-section .wrap-search-form .wrap-list-cate .link-control::after {
	content: '\f0dd';
	font-family: FontAwesome;
	display: inline-block;
	position: absolute;
	top: 7px;
	right: 14px;
}
.center-section .wrap-search-form .wrap-list-cate .link-control {
	display: inline-block;
	color: #999;
	padding: 9px 15px;
	width: 100%;
    text-align: left;
}
.center-section .wrap-search-form input[name="search"]{
    width: 100%;
    float: left;
    font-size: 13px;
    color: #999999;
    border: none;
    padding: 0 20px;
    height: 35px;
}
.header .main-info-area{
	display: table;
	width: 100%;
    height: 99px;
}
.header.fill-color .center-section .wrap-search-form button{
    background: #414141;
    height: 39px;
    top: -2px;
    right: -2px;
}
.center-section .wrap-search-form button{
	width: 56px;
    height: 35px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}
.center-section .wrap-search-form button i{
	font-size: 15px;
	color: #fff;
}
.header .main-info-area .right-section,
.header .main-info-area .center-section,
.header .main-info-area .left-section{
	display: table-cell;
    vertical-align: middle;
}
.header .main-info-area .center-section{
    padding: 0 15px;
    text-align: center;
}
.header .main-info-area .left-section{
	width: 182px;
}
.header .main-info-area .right-section{
	width: 280px;
}
.main-info-area .right-section .wrap-icon-section{
	display: inline-block;
	width: 50%;
	float: left;
}
header.fill-color .right-section .wrap-icon-section .title{
    color: #ffffff;
}
header.fill-color .main-info-area .right-section .wrap-icon-section .title{
    color: #ffffff;
}
.main-info-area .right-section .wrap-icon-section .title{
	font-size: 12px;
	color: #333333;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
}
header.fill-color .main-info-area .right-section .wrap-icon-section .index{
    color: #ffffff;
    background: #414141;
}
header.fill-color .main-info-area .right-section .wrap-icon-section.minicart .index{
    background-color: #ff0000;
}
.main-info-area .right-section .wrap-icon-section .index{
	color: #fff;
    font-size: 12px;
    line-height: 12px;
    display: block;
    background: #888;
    padding: 1.5px 7px;
    border-radius: 2px;
}